html, body
  font-family 'Segoe', 'Segoe UI', 'Arial', 'sans-serif'
  padding 0
  margin 0
  .el-message-box
    max-width 90%
.modal
  z-index 1000
  position fixed
  background rgba(0, 0, 0, 0.7)
  left 0
  right 0
  top 0
  bottom 0
.soft-scrollable
  -webkit-overflow-scrolling touch
.fontbold
  font-weight bold