$main-color = #0078d7
$main-color-dark = #005a9e
// font size
$font-super-large = 20px
$font-large = 16px
$font-normal = 14px
$font-small = 13px
$font-tiny = 12px
$font-letter = $font-small

// Handle media query
media_queries = {
  mobile: 'only screen and (max-width: 550px)',
  tablet: 'only screen and (min-width: 551px) and (max-width: 800px)',
  desktop: 'only screen and (min-width: 801px)'
}
breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(', ', conditions)
  @media conditions
    {block}